* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;

}

body{
   width: 100vw;
   height: 100vh;
   background-color: #181818;
   color:rgba(209, 209, 209, 0.6) ;

}

a,li{
  
   text-decoration: none;
   list-style: none;
   color: #d1d1d1 ;
}
h1,h2,h3 {
   color: #d1d1d1 ;
   font-family: 'DM Serif Display', serif;


}
.container{
   margin: 0 auto;
   width: 80%;
}

@media screen and (max-width: 900px) {
   .container{
      width : 100%;
      /* padding: 0 10px; */
   }
}